<!-- start footer -->
<footer class="footer-wrapper-area">

	<!-- start footer area -->
	<div class="footer-area-content">
		<!-- Newsletter -->
		<div id="footer-newsletter" class="pt-40 pb-40">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h3><i class="fa fa-envelope-o"></i>Keep in touch, Join us</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div class="newsletter-02">
							<div class="form-group">
								<input class="form-control" placeholder="enter your email ">
								<button class="btn btn-primary">subscribe</button>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- END: Newsletter -->

		<div class="container">
			<div class="footer-wrapper style-3">
				<footer class="type-1">
					<div class="footer-columns-entry">
						<div class="row">
							<div class="col-md-3 col-sm-3">
								<h3 class="column-title">Popular cities</h3>
								<ul class="column">
									<li><a href="#">Mysore</a></li>
									<li><a href="#">Banglore</a></li>
									<li><a href="#">Gulbarga</a></li>
								</ul>
								<h3 class="column-title">Popular Areas</h3>
								<ul class="column">
									<li><a href="#">Jayanagar</a></li>
									<li><a href="#">vijaynagar</a></li>
									<li><a href="#">kormangala</a></li>
								</ul>
								<div class="clear"></div>
							</div>

						</div>
					</div>
				</footer>
			</div>
		</div>


	</div>
</footer>