<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Title Of Site -->
	<title>Thefoody - Order Online Portal Responsive HTML Template</title>
	<meta name="description" content="TheFoody is a food ordering platform which brings restaurants and food lovers together. Food ordering online is easier than any other platforms.">
	<meta name="keywords" content="food, order online, restaurant, reservation, book a table, foodies, cafe, recipes, menu, dishes, chefs and cooking experts ">
	<meta name="author" content="iglyphic">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <style>
  .navbar-default .navbar-nav>li>a {
    color: white;   
}


</style>
<body class="not-transparent-header">

	<!-- start Container Wrapper -->
	<div class="container-wrapper">
<nav class="navbar navbar-fixed-top navbar-sticky-function navbar-default">

  <div class="container">

    <div class="logo-wrapper">
      <div class="logo">
        <!-- <a href="index.html"><img src="images/logo.png" alt="Logo"></a> -->
      </div>
    </div>

    <div id="navbar" class="navbar-nav-wrapper navbar-arrow">

      <ul class="nav navbar-nav" id="responsive-menu">

        <li>
          <a href="index.html">Home</a>
        </li>

        <li>
          <a href="index.html">Institutions</a>
        </li>

        <!-- <li>
          <a href="restaurant.html">restaurant</a>
          <ul>
            <li><a href="restaurant.html">Restaurant - Default</a></li>
            <li><a href="restaurant-grid.html">Restaurant - Grid</a></li>
            <li><a href="restaurant-list-03.html">Restaurant - Sidebar</a></li>
          </ul>
        </li>

        <li>
          <a href="order-online.html">order</a>
          <ul style="">
            <li><a href="order-online.html">Order Online</a></li>
            <li><a href="order-process.html">Order Process</a></li>
            <li><a href="order-success.html">Order Success</a></li>
            <li><a href="reservation.html">Reservation</a></li>
            <li><a href="all-cuisines.html">All Cuisine</a></li>
            <li><a href="restaurant-search.html">Restaurant Search</a></li>
            <li><a href="how-it-work.html">How it works</a></li>
          </ul>
        </li> -->

        <!-- <li>
          <a href="blog.html">Blog</a>
          <ul>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="blog-single.html">Blog Single</a></li>
          </ul>
        </li>

        <li>
          <a href="#">Page</a>
          <ul>
            <li>
              <a href="user.html">User<i class="arrow-indicator fa fa-angle-right"></i></a>
              <ul>
                <li><a href="user-empty.html">Dashboard - Empty</a></li>
                <li><a href="user-profile.html">Profile</a></li>
                <li><a href="user-profile-update.html">Profile Update</a></li>
                <li><a href="user-favourite-restaurant.html">Favourite Restaurant</a></li>
                <li><a href="user-change-pass.html">Change Password</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Account<i class="arrow-indicator fa fa-angle-right"></i></a>
              <ul>
                <li><a href="login.html">Login Page</a></li>
                <li><a href="login.html">Register Page</a></li>
                <li><a href="account-forgot-password-page.html">Forgot Password Page</a></li>
              </ul>
            </li>

            <li>
              <a href="#">Restaurant<i class="arrow-indicator fa fa-angle-right"></i></a>
              <ul>
                <li><a href="restaurant-owner-dashboard.html">Restaurant Owner Dashboard</a></li>
                <li><a href="restaurant-detail.html">Restaurant Detail</a></li>
              </ul>
            </li>
            <li>
              <a href="#">NetPay Form <span class="new-feature">New</span><i class="arrow-indicator fa fa-angle-right"></i></a>
              <ul>
                <li><a href="netpay-form-step-one.html">NetPay Form One</a></li>
                <li><a href="netpay-form-step-two.html">NetPay Form Two</a></li>
              </ul>
            </li>

            <li><a href="about-us.html">About Us</a></li>
            <li><a href="staff.html">Our Staff</a></li>
            <li><a href="faq.html">Faq</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="careers.html">Careers</a></li>
            <li><a href="privacy-policy.html">Privacy Policy</a></li>
            <li><a href="pricing.html">Pricing</a></li>
            <li><a href="404-error-page.html">404 - Error Page</a></li>
          </ul>
        </li> -->

      </ul>

    </div><!--/.nav-collapse -->

    <div class="nav-mini-wrapper">
      <ul class="nav-mini sign-in">
        <li><a href="login.html">login</a></li>
        <li><a href="login.html">register</a></li>
      </ul>
    </div>

  </div>

  <div id="slicknav-mobile"><div class="slicknav_menu"><a href="#" aria-haspopup="true" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt"></span><span class="slicknav_icon slicknav_no-text"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">

        <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
          <a href="index.html" tabindex="-1">Home</a>
          <span class="slicknav_arrow"><i class="fa fa-plus"></i></span></a><ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
            <li><a href="index.html" role="menuitem" tabindex="-1">Home - Default</a></li>
            <li><a href="index-02.html" role="menuitem" tabindex="-1">Home - 02</a></li>
          </ul>
        </li>

        <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
          <a href="restaurant.html" tabindex="-1">restaurant</a>
          <span class="slicknav_arrow"><i class="fa fa-plus"></i></span></a><ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
            <li><a href="restaurant.html" role="menuitem" tabindex="-1">Restaurant - Default</a></li>
            <li><a href="restaurant-grid.html" role="menuitem" tabindex="-1">Restaurant - Grid</a></li>
            <li><a href="restaurant-list-03.html" role="menuitem" tabindex="-1">Restaurant - Sidebar</a></li>
          </ul>
        </li>

        <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
          <a href="order-online.html" tabindex="-1">order</a>
          <span class="slicknav_arrow"><i class="fa fa-plus"></i></span></a><ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
            <li><a href="order-online.html" role="menuitem" tabindex="-1">Order Online</a></li>
            <li><a href="order-process.html" role="menuitem" tabindex="-1">Order Process</a></li>
            <li><a href="order-success.html" role="menuitem" tabindex="-1">Order Success</a></li>
            <li><a href="reservation.html" role="menuitem" tabindex="-1">Reservation</a></li>
            <li><a href="all-cuisines.html" role="menuitem" tabindex="-1">All Cuisine</a></li>
            <li><a href="restaurant-search.html" role="menuitem" tabindex="-1">Restaurant Search</a></li>
            <li><a href="how-it-work.html" role="menuitem" tabindex="-1">How it works</a></li>
          </ul>
        </li>

        <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
          <a href="blog.html" tabindex="-1">Blog</a>
          <span class="slicknav_arrow"><i class="fa fa-plus"></i></span></a><ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
            <li><a href="blog.html" role="menuitem" tabindex="-1">Blog</a></li>
            <li><a href="blog-single.html" role="menuitem" tabindex="-1">Blog Single</a></li>
          </ul>
        </li>

        <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
          <a href="#" tabindex="-1">Page</a>
          <span class="slicknav_arrow"><i class="fa fa-plus"></i></span></a><ul role="menu" class="slicknav_hidden" aria-hidden="true" style="display: none;">
            <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
              <a href="user.html" tabindex="-1">User</a>
              <span class="slicknav_arrow"><i class="fa fa-plus"></i></span></a><ul role="menu" aria-hidden="true" class="slicknav_hidden" style="display: none;">
                <li><a href="user-empty.html" role="menuitem" tabindex="-1">Dashboard - Empty</a></li>
                <li><a href="user-profile.html" role="menuitem" tabindex="-1">Profile</a></li>
                <li><a href="user-profile-update.html" role="menuitem" tabindex="-1">Profile Update</a></li>
                <li><a href="user-favourite-restaurant.html" role="menuitem" tabindex="-1">Favourite Restaurant</a></li>
                <li><a href="user-change-pass.html" role="menuitem" tabindex="-1">Change Password</a></li>
              </ul>
            </li>
            <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
              <a href="#" tabindex="-1">Account</a>
              <span class="slicknav_arrow"><i class="fa fa-plus"></i></span></a><ul role="menu" aria-hidden="true" class="slicknav_hidden" style="display: none;">
                <li><a href="login.html" role="menuitem" tabindex="-1">Login Page</a></li>
                <li><a href="login.html" role="menuitem" tabindex="-1">Register Page</a></li>
                <li><a href="account-forgot-password-page.html" role="menuitem" tabindex="-1">Forgot Password Page</a></li>
              </ul>
            </li>

            <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
              <a href="#" tabindex="-1">Restaurant</a>
              <span class="slicknav_arrow"><i class="fa fa-plus"></i></span></a><ul role="menu" aria-hidden="true" class="slicknav_hidden" style="display: none;">
                <li><a href="restaurant-owner-dashboard.html" role="menuitem" tabindex="-1">Restaurant Owner Dashboard</a></li>
                <li><a href="restaurant-detail.html" role="menuitem" tabindex="-1">Restaurant Detail</a></li>
              </ul>
            </li>
            <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
              <a href="#" tabindex="-1">NetPay Form <span class="new-feature">New</span></a>
              <span class="slicknav_arrow"><i class="fa fa-plus"></i></span></a><ul role="menu" aria-hidden="true" class="slicknav_hidden" style="display: none;">
                <li><a href="netpay-form-step-one.html" role="menuitem" tabindex="-1">NetPay Form One</a></li>
                <li><a href="netpay-form-step-two.html" role="menuitem" tabindex="-1">NetPay Form Two</a></li>
              </ul>
            </li>

            <li><a href="about-us.html" role="menuitem" tabindex="-1">About Us</a></li>
            <li><a href="staff.html" role="menuitem" tabindex="-1">Our Staff</a></li>
            <li><a href="faq.html" role="menuitem" tabindex="-1">Faq</a></li>
            <li><a href="contact.html" role="menuitem" tabindex="-1">Contact</a></li>
            <li><a href="careers.html" role="menuitem" tabindex="-1">Careers</a></li>
            <li><a href="privacy-policy.html" role="menuitem" tabindex="-1">Privacy Policy</a></li>
            <li><a href="pricing.html" role="menuitem" tabindex="-1">Pricing</a></li>
            <li><a href="404-error-page.html" role="menuitem" tabindex="-1">404 - Error Page</a></li>
          </ul>
        </li>

      </ul></div></div>

</nav>
</div>